//TODO ====================
//? =+=+=+=+=+=+=+=+ Navbar

.nav {
  letter-spacing: normal;
  background-color: #171718;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #26292d;
  position: relative;

  &-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
  }

  &-logo {
    margin-right: auto;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Alegreya', serif;

    strong {
      font-weight: 700;
    }
  }

  &-list {
    position: absolute;
    display: none;
    column-gap: 40px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Vollkorn', serif;

    &.opened {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 150px;
      top: 73px;
      width: 150px;
      right: 0;
      padding: 15px;
      background-color: #171718;
    }

    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &.opened {
        right: 93px;
        padding: 0;
        flex-direction: row;
        background-color: inherit;
        top: 0;
        height: 0;
      }
    }

    a {
      color: #fff;
    }
  }

  &-list__link {
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 0.8;
    }
  }

  &-list__link--active {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #5c62ec;
    }
  }
}
